/**{
	margin: 0;
	padding: 0;
}*/
header { /*Organize de lo general a lo particular o de arriba a abjao como esta en el HTML*/
	border-bottom: 1px solid rgb(194, 212, 25);
}
.header-div {
	display: inline-block;


}
.header-div img { 
	width: 200px;
	vertical-align: middle;

}
.header-div a {
	color: rgb(170, 16, 16);
	font-size: 20px;
	text-decoration: none;
	margin:0 50px; /* opx ariiba-abajo y 50px derecha-izquierda*/
}
article {
	display: inline-block;
	margin: 0 20px;
	width: 30%;
	vertical-align: top;
}
article img {
	width: 100%;
}
article .article-picture {
	height: 300px;
	overflow:hidden;
}
footer {
	background-color: rgb(15, 78, 173);
	padding: 50px;
	margin-top: 30px: 
}
footer p { /*Se repiere a lo p dentro de footer*/
	color:rgb(18, 182, 67);
	font-size: 25px;
}
footer .picture { /*Encapsular imagen un un contenedor*/
	width: 80px;
}
footer .picture img {
	width: 100%;
}
footer .footer-div {
	display: inline-block;
}
footer .contact-info{
	width: 80%;
}